.~students-data.csv
Rplots.pdf
*paper/paper.synctex.gz

Fase 1/paper/paper.out

Fase 1/paper/paper.log

Fase 1/paper/paper.aux

Fase 1/paper/img/



Fase 1/paper/paper.tex

Fase 1/paper/jcematcom.sty
